# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# Log files
*.log

# Model weights
*.pt


# Media files
*.mp4
*.avi
*.mov
*.MOV
*.jpg
*.jpeg
*.png
*.gif

# Database
*.db
*.sqlite3